#team-card{
  width: 90%;
}
.team-pic{
  height: 300px;
  object-fit: cover;
}
.team-btn{
  background-color: #FFFF;
  margin-top: 5px;
}
.team-btn:hover{
  background-color: #37474F;
}
#section1{
  background-color: #d3353e;
  font-size: 1.4em;
}
.close{
  font-size: 2em;
}
a{
  color: lightblue;
}
