/*==================== Header ====================*/

section {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
    animation-name: example;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        top: 50px;
    }

    50% {
        top: -50px;
    }

    100% {
        top: 50px;
    }
}

#visual-graphic-text {
    margin: 10% auto;
}

.types {
    margin: 1em 0 1em 0;
}

.strokes {
    text-align: justify;
    margin: 0 1em 0 1em;
}

.types-img {
    max-width: 100%;
    padding: 0 1em 1em 1em;
    transition: transform 1s ease-in-out;
}

.types-1:hover, .types-1:focus {
    transform: rotate(10deg) scale(1.2) translateY(-25px);
}

.types-2:hover, .types-2:focus {
    transform: rotate(-10deg) scale(1.2) translateY(-25px);
}

h1, h3 {
    padding: 1em 1em 1em 1em;
}

.swimmer {
    color: white;
    width: auto;
    opacity: 0.8;
    padding: 0;
}

.swimmer-info {
    background-color: darkblue;
    border-radius: 0.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}

.links {
    font-weight: bold;
    transition: 1s;
}

.links:hover {
    color: red;
}

form {
    border: 5px solid darkblue;
    padding: 10px 0 10px 0;
}

.contact {
    display: inline-block;
    width: 150px;
}
